:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tab-style {
  position: 'absolute';
  top: 0;
  left: 0;
  font-size:"24px";
  width: '100%';
  height: '100%';
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  z-index: 2;
  font-family: 'Creato';
  text-decoration: 'none';
  text-transform: 'none';
}

.tab-style.Mui-selected {
  color: #780116; 
  font-weight: bold;
}

.cal-sans-regular {
  font-family: "Cal Sans";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas';
  src: url('../public/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Built';
  src: url('../public/fonts/built-titling-rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Creato';
  src: url('../public/fonts/CreatoDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Creato Bold';
  src: url('../public/fonts/CreatoDisplay-Bold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'Coolvetica';
  src: url('../public/fonts/Coolvetica-Rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../public/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}