:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tab-style {
  position: 'absolute';
  top: 0;
  left: 0;
  font-size:"24px";
  width: '100%';
  height: '100%';
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  z-index: 2;
  font-family: 'Carlito';
  text-decoration: 'none';
  text-transform: 'none';
}

.tab-style.Mui-selected {
  color: #780116; 
  font-weight: bold;
}